body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#app {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#quiz-container, #review-container {
    display: none;
}

#options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

#options-container img {
    margin: 10px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    border: 8px solid transparent;
    border-radius: 8px;
    transition: border-color 0.3s;
}

.correct {
    border-color: green !important;
}

.incorrect {
    border-color: red !important;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    margin-top: 20px;
}

#score {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}
